{
  "presets": [["@babel/preset-env", { "useBuiltIns": "usage" }]],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "teddy.h",
        "pragmaFrag": "teddy.Fragment"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
