.hero-head {
  background-image: linear-gradient(
    109.6deg,
    rgba(223, 234, 247, 1) 11.2%,
    rgba(244, 248, 252, 1) 91.1%
  );
}
#logo img{
  height: auto !important;
  width: 60% !important;
}
